[submodule "plugins/io.nightfish.potatolib"]
	path = plugins/io.nightfish.potatolib
	url = https://github.com/yukonisen/plugin-distributions.git
	branch = potatolib
[submodule "plugins/io.limao996.fanqielib"]
	path = plugins/io.limao996.fanqielib
	url = https://github.com/limao996/LNR-FanqieNovel-Repo.git
	branch = fanqielib
[submodule "plugins/io.limao996.aliceswlib"]
	path = plugins/io.limao996.aliceswlib
	url = https://github.com/limao996/LNR-AliceswLib-Repo.git
	branch = add-plugin-aliceswlib
